<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<script src="https://cdn.tailwindcss.com"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var gameId = /*[[${gameId}]]*/ '';
    /*]]>*/
</script>

<script src="/dist/gameLobby.bundle.js" defer></script>

<body>
    <div x-init="await init()" x-data="gameLobbyComponent" class="flex flex-col h-screen">
        <div class="bg-blue-200 text-blue-800 p-4">
            <p class="text-center">Waiting for another player to join</p>
        </div>


        <div class="flex flex-1">

            <div class="w-1/5">
            </div>

                <canvas id="threeJs"></canvas>

            <div class="w-1/5">
            </div>

        </div>
    </div>
</body>

</html>
