<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.tailwindcss.com"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var gameId = /*[[${gameId}]]*/ '';
    /*]]>*/
</script>
<script src="/dist/game.bundle.js" defer></script>
<body>

<div class="bg-blue-200 text-blue-800 p-4">
  <p class="text-center">Game started</p>

  <div x-init="await init()" x-data="gameComponent" class="flex flex-col h-screen">


    <div class="flex flex-1">

      <div class="w-1/5 flex flex-col">
        <div class="h-4/5"></div>
        <div class="h-1/5">
          <div class="mb-4">
            <p class="font-bold text-lg">Score:</p>
            <p class="text-lg" x-text="user.score"></p>
          </div>
          <button class="bg-green-500 text-white py-3 px-20 rounded"><p class="text-lg">Move</p></button>
        </div>
      </div>

      <canvas id="threeJs"></canvas>

      <div class="w-1/5 flex flex-col">
        <div class="h-1/5 ml-5">
          <div class="mb-4">
            <p class="font-bold text-lg">Score:</p>
            <p class="text-lg" x-text="opponent.score"></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

</body>
</html>
