<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="/dist/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda-themeless.min.css"
</head>
<script th:inline="javascript">
  /*<![CDATA[*/
  var gameId = /*[[${gameId}]]*/ '';
  /*]]>*/
</script>

<body>

<div class="bg-blue-200 text-blue-800 p-4">
  <p class="text-center">Game started</p>

  <div x-init="await initFunc()" x-data="gameComponent" class="flex flex-col h-screen">

    <div class="flex flex-1">

      <div class="w-1/5 flex flex-col">
        <div class="h-3/5"></div>
        <div class="h-2/5">
          <div class="mb-4">
            <p class="font-bold text-lg">Username:</p>
            <p class="text-lg" x-text="user.name"></p>
            <p class="font-bold text-lg">Current victories:</p>
            <p class="text-lg" x-text="user.currentVictories"></p>
            <p class="font-bold text-lg">Current number of cards:</p>
            <p class="text-lg" x-text="userCardObjectsList.length"></p>
          </div>
          <button x-on:click="!isCardPlayedByUser && currentUserPlayedCards.length <= currentOpponentPlayedCards.length && userMove" class="ladda-button bg-green-500 text-white py-3 px-20 rounded"
                  data-style="zoom-in">
            <p class="text-lg">Move</p>
          </button>
        </div>
      </div>

      <canvas id="threeJs"></canvas>

      <div class="w-1/5 flex flex-col">
        <div class="h-1/5 ml-5">
          <div class="mb-4">
            <p class="font-bold text-lg">Username:</p>
            <p class="text-lg" x-text="opponentName"></p>
            <p class="font-bold text-lg">Current victories:</p>
            <p class="text-lg" x-text="opponentVictories"></p>
            <p class="font-bold text-lg">Score:</p>
            <p class="text-lg" x-text="opponentCardObjectsList.length"></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="/dist/game.bundle.js" defer></script>

</body>

</html>
