<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/dist/styles.css">
</head>
<script src="/dist/main.bundle.js" defer></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var userId = /*[[${userId}]]*/ '';
    /*]]>*/
</script>
<body class="bg-gray-200">
<div x-init="initFunc()" x-data="gamesMenuComponent">
<div class="flex flex-row h-screen">
    <!-- Left column with game list -->
    <div class="bg-gray-800 text-white w-1/3 p-4">
        <h1 class="text-lg font-bold mb-4">Game List</h1>
        <ul x-data="gamesList">
            <template x-for="game in gamesList">
                <li x-on:click="joinGameClicked(game)" class="mb-2">
                    <a x-text="game.gameName" href="#" class="hover:underline"></a>
                    <span class="text-gray-400" x-text="'(' + game.usersCount + '/2)'"></span>
                </li>
            </template>
        </ul>
    </div>
    <!-- Center column with create game form -->
    <div class="flex-1 flex items-center justify-center px-4">
        <div class="w-full max-w-md">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <h1 class="text-lg font-bold mb-4">Create New Game</h1>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="game-name">
                        Game Name
                    </label>
                    <input x-model="gameName" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="game-name" type="text" placeholder="Enter game name">
                </div>
                <div class="flex items-center justify-between">
                    <button x-show="gameName" x-on:click="createNewGame(gameName)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                        Create Game
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
